<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <activity
            android:name="com.luminsoft.enroll_sdk.EnrollMainOnBoardingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EkycSDK" />
        <activity
            android:name="com.luminsoft.enroll_sdk.EnrollMainAuthActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EkycSDK" />
        <activity
            android:name="com.luminsoft.enroll_sdk.EnrollMainUpdateActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EkycSDK" />
        <activity
            android:name="com.luminsoft.enroll_sdk.innovitices.activities.DocumentActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/document_front_screen"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.luminsoft.enroll_sdk.innovitices.activities.FaceCaptureActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/face_capture_screen"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.luminsoft.enroll_sdk.innovitices.activities.SmileLivenessActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/smile_liveness_screen"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>
</manifest>