*.iml
*.apk
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets
/app/src/main/res/raw/iengine.lic
assets/env_andrew
assets/env_radwan
app/src/main/assets/env_andrew
app/src/main/assets/env_org_1
app/src/main/java/com/luminsoft/ekyc_android/MainActivity.kt